body {
  /*background-image: "../img/fireworks.jpg"*/
  background-color: #F6F6F6;
}
.container-fluid {
  padding: 0;
}
.row {
  margin-right: inherit;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif !important;
  color: #2e42d1 !important;
  font-weight: 700 !important;
}
.collapsed-brand {
  display: none;
}

/*BEGIN WORK PAGE*/

.content {
  margin-top: 200px;
}
.title{
  font-family: 'Ubuntu', sans-serif;
  color: #2e42d1;
  font-size: 42px;
  margin-top: 0px;
  padding-top: 0px;
}
h3.title {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-size: 34px;
  white-space: nowrap;
}
.title a {
  color: #2e42d1;
  transition:color 0.2s linear 0s;
}
.title a:hover {
  text-decoration: none;
  color: #d1bd2e
}
.title a:active, .title a:focus {
  text-decoration: none;
}
.intro {
  position: relative;
  /*margin-bottom: 75px;*/
  padding-bottom: 50px;
  border-bottom: 1px solid blue;
}
.intro p {
  margin-top: 25px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px;
  text-align: justify;
  text-indent: 2em;
}
.section {
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid blue;
}
.short {
  height: 500px;
}
.siteThumbnail {
  border: 1px solid rgba(100, 100, 100, 0.2);
}
.tempThumbnail {
  width: 384px;
  height: 216px;
  background-color: green;
}
.caption {
  padding-top: 37px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px;
  text-align: justify;
  text-indent: 1.5em;
}
.caption a {
  float: right;
  color: #2e42d1;
  font-weight: 500;
  transition:color 0.2s linear 0s;
}
a.linkInText {
  float: none;
  font-weight: 400;
  transition:color 0.2s linear 0s;
}
.caption a:hover {
  text-decoration: none;
  color: #d1bd2e;
}
.caption a:focus {
  text-decoration: none;
}
.sidebar {
  position: relative;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px;
}
.sidebar a {
  color: #2e42d1;
  font-weight: 500;
  transition:color 0.2s linear 0s;
}
.sidebar a:hover {
  text-decoration: none;
  color: #d1bd2e;
}
.sidebar a:focus {
  text-decoration: none;
}
.sidebar-fixed {
  position: fixed;
  right: 5px;
  top: 30px;
}

/*END WORK PAGE*/

/*BEGIN HOME PAGE*/

.jumbotron {
  /*margin-top: 62px;*/
  height: 100vh;
  padding: 185px 50px;
  background-image: url(../img/fountain-pen-compressed.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0 !important;
  text-align: center;
}
.jumbotron h1 {
  font-family: 'Poiret One', cursive;
  color: #000;
  font-size: 6em;
}
.goDown {
  position: absolute;
  left: 50%;
  margin-left: -108px;
  bottom: 10px;
  color: #000;
  font-family: 'Poiret One', cursive;
}
.goDown h2 {
  font-size: 40px;
}
.goDown .fa-chevron-down {
  border-radius: 100%;
  padding: 5px;
  font-size: 35px;
  color: #000;
}
.goDown .fa-chevron-down:hover {
  background-color: rgba(100, 100, 100, 0.2);
}
.goDown .fa-chevron-down:focus {
  background-color: transparent;
}
#homeContent {
  margin-top: 120px;
}
#homeContent .caption {
  padding-top: 84px;
}
#homeContent p {
  font-size: 30px;
}
#homeContent .title {
  font-size: 50px;
  margin-bottom: 34px;
}
#homeContent .title-compressed {
  font-size: 45px;
}
#homeContent .button {
  font-size: 30px;
}

/*END HOME PAGE*/

/*BEGIN CONTACT*/

#contact {
  margin-top: 200px;
  color: #000;
}
#contact .title {
  font-size: 54px;
}
.noBullets {
  list-style: none;
}
#contact .contactInfo {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 35px;
}
#contact .icons {
  position: absolute;
}
#contact .fa-twitter {
  background-color: transparent;
}
#contact a {
  color: #000;
  transition:color 0.2s linear 0s;
}
#contact a:hover {
  text-decoration: none;
  color: #2e42d1;
}
#contact .smallText {
  font-size: 30px;
}
.maps {
  position: relative;
  padding-bottom: inherit; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*END CONTACT*/

/*BEGIN ABOUT*/

.stickyFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*END ABOUT*/

/*BEGIN FOOTER*/

footer {
  background-color: #231F20;
  color: #BFC0C1;
  margin-top: 150px;
  padding: 25px 200px;
}
.copyright {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}
.social {
  text-align: center;
}
.media {
     background-color:rgb(46,66,209);
     border:4px solid #FFF;
     border-radius:100%;
     font-size:34px !important;
     margin:15px;
     padding:10px;
     color:#FFF;
     height: 62px;
     width: 62px;
     transition:background 0.2s linear 0s;
}

.media:hover {
     background-color:#d1bb2e;
}

.fa-facebook {background-color:#0c516e;}
.fa-twitter {background-color:#8ca6d9;}

/*END FOOTER*/

@media (max-width: 990px) { /*REMOVE SIDEBAR ON COLLAPSE*/
  .sidebar {
    display: none;
  }
  .leftPadding {
    padding-left: 10px;
    /*padding-right: -20px;*/
  }
  .noPadding {
    padding-right: 0px;
  }
} /*REMOVE SIDEBAR ON COLLAPSE*/

@media (min-width: 768px) { /*EXPANDED ONLY*/
  .navbar-nav {
    padding-top: 10px;
  }
  .expanded-brand {
    color: #2e42d1 !important;
    font-size: 56px;
  }
  .navbar-default {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -425.508px;
    text-align: center;
    background-color: transparent;
    border: none;
  }
  .navLink a {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2e42d1 !important;
    border-radius: 5px;
    margin: 0px 12px;
    transition:background 0.2s linear 0s;
  }
  .navLink a:hover {
    /*background-color: #eee !important;*/
    background-color: rgba(100, 100, 100, 0.2) !important;
  }
  .active a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent !important;
    border-bottom: solid 2px #2e42d1;
  }
} /*EXPANDED ONLY*/

@media (max-width: 767px) { /*COLLAPSED ONLY*/
  .collapsed-brand {
    display: block !important;
    font-size: 22px !important;
  }
  .expanded-brand {
    display: none !important;
  }
  .navLink a {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2e42d1 !important;
    border-radius: 5px;
    margin: 0px 10px;
  }
  .navbar-default {
    border: none;
    background-color: transparent;
  }
  .navbar-header {
    margin-right: 0px !important;
  }
  .navbar-collapse {
    margin-bottom: 50px;
  }
  button.navbar-toggle-collapsed {
    margin-right: 0px;
  }
  .jumbotron {
    margin-top: -70px;
  }
  .content {
    margin-top: 100px;
  }
  footer {
    padding: inherit;
  }
  .social {
    padding-top: 10px;
  }
  .copyright {
    margin-bottom: 0;
  }
} /*COLLAPSED ONLY*/

/*FIXING THINGS THAT BREAK*/

@media (max-width: 900px) and (min-width: 768px) { /*NAVBAR SQUISH*/
  .navbar-default {
    padding-left: 20px;
    /*position: relative;*/
    /*float: left;*/
    left: 0;
    margin-left: 0;
  }
  .navbar-nav {
    margin-left: -35px;
  }
  .navLink a {
    margin: 0;
    padding: 10px 5px;
  }
} /*NAVBAR SQUISH*/

@media (max-height: 700px) { /*FIXED HOME PAGE ON MOBILE*/
  .jumbotron {
    padding-top: 15vh;
  }
} /*FIXED HOME PAGE ON MOBILE*/

@media (max-height: 400px) { /*FOR REALLY TINY SCREENS*/
  .jumbotron h1 {
    display: none;
  }
} /*FOR REALLY TINY SCREENS*/

@media (max-width: 500px) { /*MAKE TEXT NOT UGLY ON SMALL SCREENS*/
  #homeContent p {
    text-align: left;
    font-size: 22px;
  }
} /*MAKE TEXT NOT UGLY ON SMALL SCREENS*/

@media (max-width: 500px) {
  #contact p {
    font-size: 22px !important;
  }
  .maps {
    display: none;
  }
}
